@import './common';

:root {
  background-color: black;
  color: white;
  font-family: Roboto;
}

html {
  scroll-behavior: auto;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: center;
  color: #b7b7b7;
}

header .logo-container {
  flex-shrink: 0;
}

header a.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

header a:active,
header a:hover,
header a:focus {
  color: #f87719;
}

header span.logo-text {
  display: none;
}

header img {
  width: 32px;
  height: 32px;
}

header .main-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

header .main-menu-list {
  display: none;
}

header .theme-switch {
  flex-shrink: 0;
}

.theme-switch img {
  width: 44px;
  height: 18px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.modal-body img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto 20px;
}

.modal-body p {
  margin: 10px 0;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

///************///
///************///
///MEDIA TABLET///
///************///
///************///

@media screen and (min-width: 768px) {
  body {
    margin: 0 32px;
  }

  header {
    height: 60px;
  }

  header .logo-link img {
    width: 48px;
    height: 48px;
  }

  header span.logo-text {
    display: inline-block;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: center;
    color: white;
  }

  header .main-menu-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  header a {
    font-weight: 500;
    line-height: 16.41px;
  }

  header .mobile-menu-button {
    display: none;
  }

  header .theme-switch img {
    width: 60px;
    height: 24px;
  }
}

///*************///
///MEDIA DESKTOP///
///*************///

@media screen and (min-width: 1280px) {
  header .main-menu-list {
    gap: 40px;
  }
}
