@import './common';

:root {
  background-color: black;
  color: white;
  font-family: Roboto;
}

html {
  scroll-behavior: auto;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  position: relative;
}

header .logo-container {
  flex-shrink: 0;
}

header .logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

header span.logo-text {
  display: none;
}

header img {
  width: 32px;
  height: 32px;
}

header .main-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

header .main-menu-list {
  display: none;
}

header .theme-switch {
  flex-shrink: 0;
}

///************///
///************///
///MEDIA TABLET///
///************///
///************///

@media screen and (min-width: 768px) {
  header span.logo-text {
    display: inline-block;
  }

  header .main-menu-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  header .mobile-menu-button {
    display: none;
  }
}

///*************///
///MEDIA DESKTOP///
///*************///
