<!-- Footer -->
<footer class="footer">
    <div class="footer__container container">
        <p class="footer__copyright">© 2024 | All Rights Reserved |</p>
        <p class="footer__description">
            Developed with
            <svg class="heart__icon" width="14" height="14">
                <use href="./images/heart.svg"></use>
            </svg>
            <span class="footer__text"> by </span>
            <button class="footer__link" href="">GoIT Students</button>
        </p>
    </div>
</footer>
<!-- Modal -->
<div class="team team__backdrop is-hidden">
    <div class="team__wrapper">
        <button class="team__modal-close-btn" type="button">
            <svg class="team__modal-close-icon" width="30" height="30">
                <use href="../images/spritefooter.svg"></use>
            </svg>
            X
        </button>
        <h2 class="team__title">Boolean Operators</h2>
        <ul class="team__list">
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Rafal Szymanek</h2>
                    <p class="team__role">Team Leader</p>
                </div>
            </li>

            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Maciej Bratko</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Maciej Stefański</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Magdalena Rams</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Marta Marta</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Marta Paszkowska</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Mateusz Silski</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Mikołaj Drozd</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Sebastian Stobiecki</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Piotr K</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__box">
                    <h2 class="team__member">Kasia Czyżewska</h2>
                    <p class="team__role">Developer</p>
                </div>
            </li>
        </ul>
    </div>
</div>