<header>
  <div class="logo-container">
    <a href="/src/index.html" class="logo-link">
      <img src="/src/favicon.svg" alt="website-icon" />
      <span class="logo-text">Cinemania</span>
    </a>
  </div>
  <div class="main-menu">
    <div class="mobile-menu-button">MENU</div>
    <ul class="main-menu-list">
      <li class="main-home"><a href="/src/index.html">HOME</a></li>
      <li class="main-catalog">
        <a href="/src/partials/catalog.html" class="nav-link">CATALOG</a>
      </li>
      <li class="main-library"><a href="/">MY LIBRARY</a></li>
    </ul>
  </div>
  <div class="theme-switch">
    <img src="/src/images/dark-mode-temp.svg" alt="dark mode switch" />
    <img
      src="/src/images/light-mode-temp.svg"
      alt="light mode switch"
      style="display: none"
    />
  </div>
</header>
