<section class="part-one">
  <div class="hero">
    <h1 class="header-title">Example film tittle</h1>

    <p>
      Film description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Non, voluptatem in soluta possimus, repellendus eligendi molestias quaerat
      illo sed quo, magni aut modi. Omnis illum quaerat consequatur, cum
      nesciunt laboriosam.
    </p>
    <div class="hero-button-block">
      <button class="left-hero-button">Get Started</button>
      <button class="right-hero-button">More details</button>
    </div>
  </div>
</section>
