<section class="part-one">
  <div class="hero">
    <h1 class="hero-title">Film title</h1>
    <p class="hero-film-description">
      Is a guide to creating a personalized movie theater experience. You'll
      need a projector, screen, and speakers.
    </p>
    <div class="hero-button-block">
      <button class="left-hero-button">Get Started</button>
      <button class="watch-trailer-button">Watch Trailer</button>
      <button class="right-hero-button">More details</button>
    </div>
  </div>
</section>
