<section>
  <div class="home-txt-div">
    <h2 class="weekly-home">WEEKLY TRENDS</h2>
    <a class="see-all-home">See all</a>
  </div>
  <div id="movie-container" class="movie-home-div"></div>
  <div class="upcoming-div">
    <h2 class="weekly-home">UPCOMING THIS MONTH</h2>

    <!-- div for mobile  -->
    <div class="only-mobile-upcoming-div">
      <div class="upcoming-poster"></div>
      <h3 id="upcoming-movie-title" class="upcoming-movie-title-style"></h3>
      <div class="home-upcoming-text-mobile">
        <div class="upcomingmovie-info">
          <p>Release date</p>
          <p>Vote / Votes</p>
          <p>Popularity</p>
          <p>Genre</p>
        </div>
        <div class="upcoming-home-info-answer">
          <p id="release-date-home"></p>
          <p id="votes-home"></p>
          <p id="popularity-home"></p>
          <p id="genre-home"></p>
        </div>
        <h3 class="weekly-home, about-home">ABOUT</h3>
        <p class="about-home-info"></p>
        <button type="submit" class="home-add-to-library">
          Add to my library
        </button>
      </div>
    </div>

    <!-- div for tablet  -->
    <div class="only-tablet-upcoming-div">
      <div class="upcoming-poster" id="upcoming-movie-poster-id"></div>
      <h3 id="upcoming-movie-title" class="upcoming-movie-title-style"></h3>
      <div>
        <ul class="tablet-upcoming-info-ul tablet-upcoming-info-ul-first">
          <li>
            <strong class="upcomingmovie-info"></strong>
            <p class="upcoming-home-info-answer" id="release-date-home"></p>
          </li>
          <li>
            <strong class="upcomingmovie-info">Vote / Votes</strong>
            <p class="upcoming-home-info-answer" id="votes-home"></p>
          </li>
        </ul>
      </div>
      <div>
        <ul class="tablet-upcoming-info-ul tablet-upcoming-info-ul-secound">
          <li>
            <strong class="upcomingmovie-info">Popularit</strong>
            <p class="upcoming-home-info-answer" id="popularity-home"></p>
          </li>
          <li>
            <strong class="upcomingmovie-info">Genre</strong>
            <p class="upcoming-home-info-answer" id="genre-home"></p>
          </li>
        </ul>
      </div>
      <h3 class="weekly-home, about-home">ABOUT</h3>
      <p class="about-home-info"></p>
      <button type="submit" class="home-add-to-library">
        Add to my library
      </button>
    </div>

    <!-- div for PC  -->
    <div class="only-pc-upcoming-div">
      <div class="upcoming-poster"></div>
      <div style="margin-left: 20px">
        <h3 id="upcoming-movie-title" class="upcoming-movie-title-style"></h3>
        <div class="home-upcoming-text-pc">
          <div class="upcomingmovie-info">
            <p>Release date</p>
            <p>Vote / Votes</p>
            <p>Popularity</p>
            <p>Genre</p>
          </div>
          <div class="upcoming-home-info-answer">
            <p id="release-date-home"></p>
            <p id="votes-home"></p>
            <p id="popularity-home"></p>
            <p id="genre-home"></p>
          </div>
        </div>
        <h3 class="weekly-home, about-home">ABOUT</h3>
        <p class="about-home-info"></p>
        <button type="submit" class="home-add-to-library">
          Add to my library
        </button>
      </div>
    </div>

    <section></section>
  </div>
</section>
