<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Trigger/Open The Modal -->
    <!-- <button id="myBtn">Otwórz Okno Modalne</button> -->

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
        </div>
        <div class="modal-body">
          <div class="movie-info">
            <button class="toggleLibrary" id="toggleLibrary">
              Add to my library
            </button>
          </div>
        </div>        
      </div>
    </div>
  </body>
</html>
