<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Otwórz Okno Modalne</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
        </div>
        <div class="modal-body">
          <img src="https://via.placeholder.com/200x300" alt="Plakat filmu" />
          <h2>Tytuł Filmu</h2>
          <p><strong>Vote / Votes</strong> 8.5/10</p>
          <p><strong>Popularity</strong> 12345</p>
          <p><strong>Genre</strong>Action Thriller Crime</p>
          <p>
            <strong>About</strong> To jest krótki opis zawartości filmu. Jest to
            ekscytująca historia pełna niesamowitych zwrotów akcji.
          </p>
        </div>
        <div class="modal-footer">
          <button id="toggleLibrary">Dodaj do My library</button>
        </div>
      </div>
    </div>
  </body>
</html>
